# Good defaults
[init]
defaultBranch = main
[rebase]
updateRefs = true
[push]
autoSetupRemote = true
[rerere]
enabled = true
[column]
ui = auto
[branch]
sort = -committerdate

# Commit signing
[commit]
gpgsign = false
[gpg]
format = ssh

[include]
path = ~/.gitconfig-os
path = ~/.gitconfig-editor
path = ~/.gitconfig-personal
path = ~/.gitconfig-delta
[includeIf "gitdir:~/work/"]
path = ~/.gitconfig-work

[alias]
open = "!f() { \
  local URL=$(git remote show origin | grep Fetch.URL) ; \
  if [[ $URL =~ "@(.+):(.+).git" ]] ; then \
    open "https://${BASH_REMATCH[1]}/${BASH_REMATCH[2]}/$1" ; \
  elif [[ $URL =~ "(http.+).git" ]] ; then \
    open "${BASH_REMATCH[1]}/$1" ; \
  else \
    echo "Could not extract remote url from $URL" ; \
  fi \
}; \
f"
unstage = restore --staged
undo = reset --soft HEAD~1
